/* this was to show the different font styles  there is a lot go to w3schols to get
of the styles */
#lorem
{
  background: black;
  color: white;

  border: 3px solid red;
  padding: 13px 13px 13px 20px;
  margin: 10px auto;

}

#normal
{
  font-style: normal;
}
